.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.number {
  text-align: right;
}

div.note {
  margin-bottom: 8px;
}

.text-left {
  text-align: left;
}

div.form-switch {
  margin-top: 4px;
}

.small {
  padding-left: 4px;
  font-size: 0.8em;
}

.code {
  display: inline-block;
  font-weight: bold;
  width: 1.8em;
  padding-left: 4px;
}


.br {
  border-right: solid aliceblue ;
  padding-right: 4px;
}

.expenses {
  margin-top: 8px;
}

.note sup {
  padding-right: 2px;
}

.loss {
  color: darkred;
}
